.container {
    position: absolute;
    top: 10%; left: 10%; right: 0; bottom: 0;
}

.imageBox {
    position: relative;
    height: 350px;
    width: 350px;
    border: 2px dotted red;
    background-color: #CCC;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
    margin: 10px;
}

.imageBox.dragover {
    border: 2px solid red;
}

.imageBox .thumbBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 350px;
}

.button {
    float: right;
}

.upload {
    float:left;
    width: 250px;
}

#imageBoxFront {
    float: left;
}

#imageBoxFront .thumbBox {
    background-image: url("/mask_front.svg");
}

#imageBoxBack .thumbBox {
    background-image: url("/mask_back.svg");
}
