.imageBox
{
    position: relative;
    height: 350px;
    width: 350px;
    border: 2px dotted red;
    background-color: #CCC;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: move;
}

.imageBox.dragover {
    border: 2px solid red;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(http://localhost:3000/mask2.svg);
    /*box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);*/
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 350px;
    /*background: rgba(0,0,0,0.7);*/
}
